<!DOCTYPE html >
<html lang="en"    xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
    <div th:fragment="cancerDataTable(cancerData)">
    <H1>Cancer Data</H1>
    <table class="table table-striped table-primary">
        <thead class="top">
        <tr class="table-info">
            <td><b>AGE</b> </td>
            <td><b>HEIGHT</b> </td>
            <td><b>WEIGHT</b> </td>
            <td><b>DIET</b> </td>
            <td><b>EXERCISE</b> </td>
            <td><b>SMOKING</b> </td>
            <td><b>SUBSTANCE USE</b> </td>
            <td><b>PRIOR CANCER</b> </td>
            <td><b>FAMILY CANCER HISTORY</b> </td>
            <td><b>CANCER PREDICTION</b> </td>
            <td><b>TIER RECOMMENDATION</b> </td>
            <td  sec:authorize="hasAuthority('ADMIN')"><b>Actions</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cancerObj, iStat: ${cancerData}" th:style="${iStat.odd}? 'font-weight: normal;'">

            <td th:text="${cancerObj.age}"></td>
            <td th:text="${cancerObj.height}"></td>
            <td th:text="${cancerObj.weight}"></td>
            <td th:text="${cancerObj.diet}"></td>
            <td th:text="${cancerObj.exercise}"></td>
            <td th:text="${cancerObj.smoking}"></td>
            <td th:text="${cancerObj.substanceUse}"></td>
            <td th:text="${cancerObj.priorCancer}"></td>
            <td th:text="${cancerObj.familyCancerHistory}"></td>
            <td th:text="${cancerObj.cancerPrediction}"></td>
            <td th:text="${cancerObj.cancerRecommendation}"></td>
            <td sec:authorize="hasAuthority('ADMIN')" >
                <form action="#" th:action="@{/update-form?dataId={dataId}(dataId = ${cancerObj.id})}" th:method="post" >
                    <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Edit" ><i class="glyphicon glyphicon-edit"></i></button>
                </form>
                <form action="#"  th:action="@{/delete?dataId={dataId}(dataId = ${cancerObj.id})}" th:method="post" >
                    <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>